---
layout: default
---
<article itemscope itemtype="http://schema.org/Blogpageing">

    <header>
      <a class="back" href="/">&larr; Back</a>
      <h2 itemprop="name headline">{{ page.title | escape }}</h2>
      <h3>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%-d %B %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      </h3>
    </header>
  
    <div itemprop="articleBody">
      {{ page.content }}
    </div>
  
</article>
